@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Montserrat-Regular';
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 1s ease;
}

.square:hover {
  transition-duration: 0s;
}

.amount {
  margin-bottom: 10px;
  text-align: center;
}

.amount label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.amount input {
  border-radius: 5px;
  border: none;
  padding: 3px 5px;
}

.amount input[type = "number"] {
  width: 170px;
}

.amount input[type = "submit"] {
  padding: 3px 15px;
  cursor: pointer;
}

.amount input:hover {
  box-shadow: 0 0 8px #72b8c9;
}

.amount input:focus {
  outline: none;
}